/_ReSharper.Caches
*/bin
*/obj

*.suo
*.user
/.vs/config/applicationhost.config
/ComicVine.API.Services/App_Data/Models.mdf
/ComicVine.API.Services/App_Data/Models_log.ldf
/ComicVine.API.Services/web.appSettings.config
/ComicVine.API.Services/web.connectionStrings.config
/ComicVineScraper.API.Services/App_Data/Models.mdf
/ComicVineScraper.API.Services/App_Data/Models_log.ldf
/ComicVineScraper.API.Services/web.appSettings.config
/ComicVineScraper.API.Services/web.connectionStrings.config
