<#@ assembly name="System" #>
<#@ assembly name="System.Collections" #>
<#@ assembly name="System.ComponentModel.Composition" #>
<#@ assembly name="System.ComponentModel.DataAnnotations" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.Data.DataSetExtensions" #>
<#@ assembly name="System.Net.Http" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq" #>
<#@ assembly name="$(SolutionDir)CodeGenerator\bin\Debug\CodeGenerator.dll" #>
<#@ assembly name="$(SolutionDir)$(SolutionName).DataModel\bin\Debug\$(SolutionName).DataModel.dll" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Linq.Expressions" #>
<#@ import namespace="CodeGenerator" #>
<#@ import namespace="ComicVineScraper.API.DataModel" #>
<#+
string CleanType(string typeName) {
	if (typeName.Contains("DataModel.")) {
		typeName = typeName.Replace("DataModel.", "");
		typeName += "Model";
		typeName = typeName.Replace(">Model", "Model>");
	}
	return typeName;
}
bool IsClassProperty(propertyInfo property, out string propertyType) {
	var originalPropertyType = property.type;
	propertyType = CleanType(property.type);
	if (IsIdentifierProperty(property)) { return false; }
	if (originalPropertyType != propertyType) { return false; }
	if (propertyType.StartsWith("List<")) { return false; }
	return true;
}
bool IsRelatedObjectProperty(propertyInfo property, out string propertyType) {
	var originalPropertyType = property.type;
	propertyType = CleanType(property.type);
	if (originalPropertyType == propertyType && !IsIdentifierProperty(property)) { return false; }
	if (propertyType.StartsWith("List<")) { return false; }
	if (propertyType == "Guid?") { return false; }
	if (propertyType == "string") { return false; }
	if (property.name == "ID" || property.name == "Id") { return false; }
	return true;
}
bool IsAssociatedObjectProperty(propertyInfo property, out string propertyType) {
	var originalPropertyType = property.type;
	propertyType = CleanType(property.type);
	if (!propertyType.StartsWith("List<")) { return false; }
	return true;
}
bool IsIdentifierProperty(propertyInfo property) {
	return (property.name.EndsWith("Id") || property.name.EndsWith("ID")) && property.type.Replace("?", "") != "Guid";
}
string PluralizeName(string original) {
	if (original.Equals("EpisodeCharacterDied")) { return "EpisodeCharactersDied"; }
	if (original.EndsWith("Person")) { return original.Replace("Person", "People"); }
	if (original.EndsWith("Series")) { return original; }
	if (original.EndsWith("Address")
		|| original.EndsWith("Hash")
		|| original.EndsWith("Alias")
		|| original.EndsWith("Status"))
	{
		return original + "es";
	}
	if (original.EndsWith("y"))
	{
		return original.Substring(0, original.Length - 1) + "ies";
	}
	var retVal = original + "s";
	return retVal;
}
void GenerateBusinessWorkflowsTestingFile(string root, string nameSpace, classInfo entityClass, string company, string copyright)
{
	var hasProperties = false;
	var hasRelatedProperties = false;
	var hasAssociatedProperties = false;
	var thisClassName = entityClass.name.Replace("Schema.", "");
	var thisClassNameLowerFirst = Char.ToLowerInvariant(thisClassName[0]) + thisClassName.Substring(1);
	var thisClassNamePluralized = PluralizeName(thisClassName);
	var thisClassNamePluralizedLowerFirst = Char.ToLowerInvariant(thisClassNamePluralized[0]) + thisClassNamePluralized.Substring(1);
	var baseClassName = entityClass.baseClassName;
	var baseClassNameNoShared = baseClassName.Replace("Schema.Shared.", "");
	var isRelationalTable = baseClassNameNoShared != "NameableEntityBase";
	string propertyType; #>
// <auto-generated>
// <copyright file="<#= nameSpace #>.I<#= thisClassName #>BusinessWorkflowsTests.cs" company="<#= company #>">
// Copyright (c) <#= System.DateTime.Now.Year #> <#= copyright #> All rights reserved.
// </copyright>
// <summary>Implements the <#= thisClassNamePluralized #>Repository Class.</summary>
// <remarks>This file was auto-generated using BusinessWorkflowsTestingFileMaster.tt in
// <#= root #>.BusinessWorkflows.Testing\CodeGenerator</remarks>
// </auto-generated>
namespace <#= root #>.Testing.BusinessWorkflows.<#= nameSpace #>
{
    using System.Collections.Generic;
    using API.BusinessWorkflows;
    using API.Mappings;
    using DataModel.Schema;
    using Interfaces.DataModels;
    using Interfaces.Mappers;
    using Interfaces.Models;
    using Interfaces.Repositories;
    using Interfaces.SearchModels;
    using Models;
    using Moq;
    using Xunit;

    public static class <#= thisClassNamePluralized #>MockingSetup
    {
        public static Mock<I<#= thisClassName #>Model> DoMockingSetupFor<#= thisClassName #>Model(int idReturnValue = 0, string name = "Stephen King")
        {
            var mock<#= thisClassName #>Model = new Mock<I<#= thisClassName #>Model>();
            // Mock Functions
            mock<#= thisClassName #>Model.Setup(m => m.Id).Returns(() => idReturnValue);
            mock<#= thisClassName #>Model.Setup(m => m.Active).Returns(() => true);
            mock<#= thisClassName #>Model.Setup(m => m.CustomKey).Returns(() => "KING-STEPHEN");
            mock<#= thisClassName #>Model.Setup(m => m.ApiDetailUrl).Returns(() => "/TEST/KING-STEPHEN");
            mock<#= thisClassName #>Model.Setup(m => m.SiteDetailUrl).Returns(() => "/TEST/KING-STEPHEN");
            mock<#= thisClassName #>Model.Setup(m => m.CreatedDate).Returns(() => new System.DateTime(2015, 10, 1));
            mock<#= thisClassName #>Model.Setup(m => m.UpdatedDate).Returns(() => null);
<#+	if (!isRelationalTable) { #>
            mock<#= thisClassName #>Model.Setup(m => m.Name).Returns(() => name);
            mock<#= thisClassName #>Model.Setup(m => m.ShortDescription).Returns(() => "short");
            mock<#= thisClassName #>Model.Setup(m => m.Description).Returns(() => "long");
<#+ } #>
<#+	foreach (var property in entityClass.properties) {
		if (!IsClassProperty(property, out propertyType)) { continue; }
		hasProperties = true;
		if (property.type.Contains("DateTime")) {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => new System.DateTime());
<#+		} else if (property.type.Contains("int")) {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => 2000);
<#+		} else if (property.type.Contains("decimal")) {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => 1.25m);
<#+		} else if (property.type.Contains("bool")) {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => true);
<#+		} else { #>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => "<#= property.name #>");
<#+		} #>
<#+	} // End Foreach loop (var property in entityClass.properties) // Properties #>
<#+	if (!hasProperties) { #>
            // <None>
<#+	} // End If (!hasProperties) #>
            // Related Objects
<#+	foreach (var property in entityClass.properties) {
		if (!IsRelatedObjectProperty(property, out propertyType)) { continue; }
		hasRelatedProperties = true; #>
<#+		if (IsIdentifierProperty(property)) {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => 1);
<#+		} else {#>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => new <#= property.type.Replace("DataModel.", "") #>Model());
<#+		} #>
<#+	} // End Foreach loop (var property in entityClass.properties) // Related #>
<#+	if (!hasRelatedProperties) { #>
            // <None>
<#+	} // End If (!hasRelatedProperties) #>
            // Associated Objects
<#+	foreach (var property in entityClass.properties) {
		if (!IsAssociatedObjectProperty(property, out propertyType)) { continue; }
		var type = propertyType.Replace("List<", "").Replace(">", "").Replace("DataModel.", "").Replace("Model", "");
		hasAssociatedProperties = true; #>
            mock<#= thisClassName #>Model.Setup(m => m.<#= property.name #>).Returns(() => new <#= property.type.Replace("DataModel.", "").Replace("List<", "List<I").Replace(">", "Model>") #>());
<#+	} // End Foreach loop (var property in entityClass.properties) // Associated #>
<#+	if (!hasAssociatedProperties) { #>
            // <None>
<#+	} // End If (!hasAssociatedProperties) #>
            // Return
            return mock<#= thisClassName #>Model;
        }

        public static Mock<I<#= thisClassName #>> DoMockingSetupFor<#= thisClassName #>(int idReturnValue = 0, string name = "Stephen King")
        {
            var mock<#= thisClassName #> = new Mock<I<#= thisClassName #>>();
            // Mock Functions
            mock<#= thisClassName #>.Setup(m => m.Id).Returns(() => idReturnValue);
            mock<#= thisClassName #>.Setup(m => m.Active).Returns(() => true);
            mock<#= thisClassName #>.Setup(m => m.CustomKey).Returns(() => "KING-STEPHEN");
            mock<#= thisClassName #>.Setup(m => m.ApiDetailUrl).Returns(() => "/TEST/KING-STEPHEN");
            mock<#= thisClassName #>.Setup(m => m.SiteDetailUrl).Returns(() => "/TEST/KING-STEPHEN");
            mock<#= thisClassName #>.Setup(m => m.CreatedDate).Returns(() => new System.DateTime(2015, 10, 1));
            mock<#= thisClassName #>.Setup(m => m.UpdatedDate).Returns(() => null);
<#+	if (!isRelationalTable) { #>
            mock<#= thisClassName #>.Setup(m => m.Name).Returns(() => name);
            mock<#= thisClassName #>.Setup(m => m.ShortDescription).Returns(() => "short");
            mock<#= thisClassName #>.Setup(m => m.Description).Returns(() => "long");
<#+ } #>
<#+	foreach (var property in entityClass.properties) {
		if (!IsClassProperty(property, out propertyType)) { continue; }
		hasProperties = true;
		if (property.type.Contains("DateTime")) {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => new System.DateTime());
<#+		} else if (property.type.Contains("int")) {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => 2000);
<#+		} else if (property.type.Contains("decimal")) {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => 1.25m);
<#+		} else if (property.type.Contains("bool")) {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => true);
<#+		} else { #>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => "<#= property.name #>");
<#+		} #>
<#+	} // End Foreach loop (var property in entityClass.properties) // Properties #>
<#+	if (!hasProperties) { #>
            // <None>
<#+	} // End If (!hasProperties) #>
            // Related Objects
<#+	foreach (var property in entityClass.properties) {
		if (!IsRelatedObjectProperty(property, out propertyType)) { continue; }
		hasRelatedProperties = true; #>
<#+		if (IsIdentifierProperty(property)) {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => 1);
<#+		} else {#>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => new <#= property.type.Replace("DataModel.", "") #>());
<#+		} #>
<#+	} // End Foreach loop (var property in entityClass.properties) // Related #>
<#+	if (!hasRelatedProperties) { #>
            // <None>
<#+	} // End If (!hasRelatedProperties) #>
            // Associated Objects
<#+	foreach (var property in entityClass.properties) {
		if (!IsAssociatedObjectProperty(property, out propertyType)) { continue; }
		var type = propertyType.Replace("List<", "").Replace(">", "").Replace("DataModel.", "").Replace("Model", "");
		hasAssociatedProperties = true; #>
            mock<#= thisClassName #>.Setup(m => m.<#= property.name #>).Returns(() => new <#= property.type.Replace("DataModel.", "").Replace("List<", "List<I") #>());
<#+	} // End Foreach loop (var property in entityClass.properties) // Associated #>
<#+	if (!hasAssociatedProperties) { #>
            // <None>
<#+	} // End If (!hasAssociatedProperties) #>
            // Return
            return mock<#= thisClassName #>;
        }

        public static Mock<I<#= thisClassNamePluralized #>Repository> DoMockingSetupForRepository()
        {
            var mock<#= thisClassNamePluralized #>Repository = new Mock<I<#= thisClassNamePluralized #>Repository>();
            // Mock Functions
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>()))
                .Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<string>()))
                .Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.List)
                .Returns(() => new Mock<List<I<#= thisClassName #>>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Search(It.IsAny<I<#= thisClassName #>SearchModel>(), It.IsAny<bool>()))
                .Returns(() => new Mock<List<I<#= thisClassName #>>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Add(It.IsAny<I<#= thisClassName #>>()));
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Remove(It.IsAny<I<#= thisClassName #>>()));
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Deactivate(It.IsAny<I<#= thisClassName #>>()));
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Update(It.IsAny<I<#= thisClassName #>>()));
            // Return
            return mock<#= thisClassNamePluralized #>Repository;
        }
    }

    public class <#= thisClassNamePluralized #>BusinessWorkflowsTests
    {
        #region Read
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Get_ByID_Should_ReturnTheCorrectObjectType()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            // Act
            var person = businessWorkflow.Get(1);
            // Assert
            Assert.IsType<<#= thisClassName #>Model>(person);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Get_ByKey_Should_ReturnTheCorrectObject()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            // Act
            var person = businessWorkflow.Get("KING-STEPHEN");
            // Assert
            Assert.IsType<<#= thisClassName #>Model>(person);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Search_Should_ReturnAListOf<#= thisClassNamePluralized #>()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var searchModel = new Mock<I<#= thisClassName #>SearchModel>();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            // Act
            businessWorkflow.Search(searchModel.Object);
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Search(It.IsAny<I<#= thisClassName #>SearchModel>(), It.IsAny<bool>()), Times.Once);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Search_AsListing_Should_ReturnAListOf<#= thisClassNamePluralized #>WithDataMatchingSearchParametersWithListingMapping()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var searchModel = new Mock<I<#= thisClassName #>SearchModel>();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            // Act
            businessWorkflow.Search(searchModel.Object, true);
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Search(It.IsAny<I<#= thisClassName #>SearchModel>(), It.IsAny<bool>()), Times.Once);
        }
        #endregion
        #region Create
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Create_Should_AddANewEntityObjectToTheDatabase()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Search(It.IsAny<I<#= thisClassName #>SearchModel>(), It.IsAny<bool>()))
                .Returns(() => new Mock<List<I<#= thisClassName #>>>().Object);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            var model = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>Model();
            // Act
            try { businessWorkflow.Create(model.Object); } catch { /* Ignored */ }
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Add(It.IsAny<I<#= thisClassName #>>()), Times.Once);
        }
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Create_WithDuplicateData_Should_NotAddAndReturnOriginal()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var mock<#= thisClassName #> = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>(1);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Search(It.IsAny<I<#= thisClassName #>SearchModel>(), It.IsAny<bool>()))
                .Returns(() => new List<I<#= thisClassName #>> { mock<#= thisClassName #>.Object } );
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => mock<#= thisClassName #>.Object);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            var model = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>Model();
            // Act
            try { businessWorkflow.Create(model.Object); }
            catch { /* ignored, the Get call at the end doesn't work because don't get a real entity with id on it */ }
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Add(It.IsAny<I<#= thisClassName #>>()), Times.Never);
        }
        #endregion
        #region Update
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Update_Should_SetUpdatedDate()
        {
            // Arrange
            var mock<#= thisClassName #> = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>(1);
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => mock<#= thisClassName #>.Object);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            var expectedName = "Stephen King (2)";
            var model = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>Model(1, expectedName);
            // Act
            businessWorkflow.Update(model.Object);
            // Assert
            mock<#= thisClassName #>.Verify(m => m.UpdatedDate, Times.Once);
        }
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Update_WithDuplicateData_Should_NotAddAndReturnOriginal()
        {
            // Arrange
            var entity = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>(1);
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => entity.Object);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            var model = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupFor<#= thisClassName #>Model(1);
            I<#= thisClassName #>Model result = null;
            // Act
            try { result = businessWorkflow.Update(model.Object); }
            catch { /* ignored, the Get call at the end doesn't work because don't get a real entity with id on it */ }
            // Assert
            Assert.NotNull(result);
<#+	if (!isRelationalTable) { #>
            Assert.Equal("Stephen King", result.Name);
<#+	} #>
            Assert.Equal("/TEST/KING-STEPHEN", result.ApiDetailUrl);
            Assert.Null(result.UpdatedDate);
        }
        #endregion
        #region Deactivate
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Deactivate_ByID_Should_DeactivateTheObjectAndReturnTrue()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.SaveChanges()).Returns(() => true);
            // Act
            var result = businessWorkflow.Deactivate(1);
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Deactivate(It.IsAny<I<#= thisClassName #>>()), Times.Once);
            Assert.Equal(true, result);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Deactivate_ByKey_Should_DeactivateTheObjectAndReturnTrue()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<string>())).Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.SaveChanges()).Returns(() => true);
            // Act
            var result = businessWorkflow.Deactivate("KING-STEPHEN");
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Deactivate(It.IsAny<I<#= thisClassName #>>()), Times.Once);
            Assert.Equal(true, result);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Deactivate_ByID_ANonExistingEntity_Should_ThrowAnInvalidOperationException()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => null);
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            // Act/Assert
            Assert.Throws<System.InvalidOperationException>(() => businessWorkflow.Deactivate(1));
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Deactivate_ByKey_ANonExistingEntity_Should_ThrowAnInvalidOperationException()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<string>())).Returns(() => null);
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            // Act/Assert
            Assert.Throws<System.InvalidOperationException>(() => businessWorkflow.Deactivate("TEST"));
        }
        #endregion
        #region Remove
        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Remove_ByID_Should_DeactivateTheObjectAndReturnTrue()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<int>())).Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.SaveChanges()).Returns(() => true);
            // Act
            var result = businessWorkflow.Remove(1);
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Remove(It.IsAny<I<#= thisClassName #>>()), Times.Once);
            Assert.Equal(true, result);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Remove_ByKey_Should_DeactivateTheObjectAndReturnTrue()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            var mock<#= thisClassNamePluralized #>Mapper = new Mock<I<#= thisClassName #>Mapper>();
            mock<#= thisClassNamePluralized #>Mapper.Setup(m => m.AreEqual(It.IsAny<I<#= thisClassName #>Model>(), It.IsAny<I<#= thisClassName #>>())).Returns(() => true);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, mock<#= thisClassNamePluralized #>Mapper.Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<string>())).Returns(() => new Mock<I<#= thisClassName #>>().Object);
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.SaveChanges()).Returns(() => true);
            // Act
            var result = businessWorkflow.Remove("KING-STEPHEN");
            // Assert
            mock<#= thisClassNamePluralized #>Repository.Verify(m => m.Remove(It.IsAny<I<#= thisClassName #>>()), Times.Once);
            Assert.Equal(true, result);
        }

        [Fact][Trait("Category", "<#= thisClassNamePluralized #>")]
        public void Verify_Remove_ANonExistingEntity_Should_ReturnTrue()
        {
            // Arrange
            var mock<#= thisClassNamePluralized #>Repository = <#= thisClassNamePluralized #>MockingSetup.DoMockingSetupForRepository();
            mock<#= thisClassNamePluralized #>Repository.Setup(m => m.Get(It.IsAny<string>())).Returns(() => null);
            var businessWorkflow = new <#= thisClassNamePluralized #>BusinessWorkflow(mock<#= thisClassNamePluralized #>Repository.Object, new <#= thisClassName #>Mapper());
            // Act
            var result = businessWorkflow.Remove("DOESNT-EXIST");
            // Assert
            Assert.Equal(true, result);
        }
        #endregion
    }
}
<#+
} // End Function GenerateInterfaceFile
#>